@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Lobster&family=Merriweather&family=Rubik:wght@400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: grey;
}


/* .container {
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 5px 0px 3px #fff;
} */

.practice {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: end;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    margin: -1rem;
    transform: translate(2px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.buy {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: end;
    /* margin-bottom: 2rem; */
    border-bottom: 2px solid grey;
    background-color: #fff;
    padding: 2rem;
}

.start {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: end;
    /* margin-top: 2rem; */
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

svg {
    width: 100px;
    stroke: orange;
}

.price {
    font-size: 12px;
    font-weight: bold;
    color: orange;
    margin-bottom: 1rem;
}

.test {
    margin-bottom: 1rem;
}

.description {
    font-size: 0.8rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    border: 2px solid orange;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}

.fill {
    color: #fff;
    background-color: orange;
}

.outline {
    color: orange;
}

.disabled {
    background-color: rgb(214, 214, 214);
    color: rgb(182, 182, 182);
    border: none;
}